{% extends 'base.html' %}

{% block content %}
  {% if potential_anomalies|length > 0 %}
    <h4>Potential anomalies stored DB:</h4>
    <ol>
      {% for x in potential_anomalies %}
        <li>
          <a href="/potential_anomalies/{{ x['_id'] }}">Image key: {{ x['image_key'] }}, USNO band: {{ x['usno_band'] }}, PanSTARR band: {{ x['panstarr_band'] }}</a>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <h4>There are no potential anomalies stored DB</h4>
  {% endif %}
{% endblock %}
