<nav class='navbar navbar-expand-sm bg-dark mb-4'>
  <ul class='navbar-nav'>
    <li class='nav-item'>
      <a class='nav-link text-white' href='/crawl'>Crawler</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link text-white' href='/potential_anomalies'>Potential Anomalies</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link text-white' href='/measurements'>Measure</a>
    </li>
    <button onclick="location.reload(true);" class="btn btn-primary navbar-btn">Refresh</button>
  </ul>
</nav>
